<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="light">Inlfated Dimension</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="p-2">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="pt-2" size="4">Test Request No</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-select value="123" placeholder="Select">
            <ion-select-option value="123">123</ion-select-option>
            <ion-select-option value="456">456</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2"   size="4">Requesting Department</ion-col>
        <ion-col class="pt-2" size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input class="customInput" placeholder="Enter Requesting Department"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">SKU</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>

            <ion-input placeholder="Enter SKU"></ion-input>

          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col class="pt-2" size="4">Stencil No</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-select value="123" placeholder="Select">
            <ion-select-option value="123">123</ion-select-option>
            <ion-select-option value="456">456</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">Reason for Test</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter Reason for Test"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">Outer Diameter</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter Outer Diameter"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">Overall Width</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter Overall Width"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">Standard RIM</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter Standard RIM"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">Tyre Weight (kg)</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter Tyre Weight (kg)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">Mould No</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter Mould No"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>

    <div class="row">
      <div class="col-12 ion-text-right">
        <ion-button fill="clear" color="warning" >Test</ion-button>
        <ion-button fill="clear" color="warning" >Clear</ion-button>
        <ion-button fill="clear" color="warning" >Exit</ion-button>
      </div>
    </div>

    <div>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="pt-2" size="6">Uninflated Tyre</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="5">
           1
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="pt-2" size="6">Inflated Tyre - Pressure (Psi) </ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="5">
           1
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="pt-2" size="6">Pressure (Psi) (Zero hour)</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="5">
           1
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="pt-2" size="6">Pressure (Psi) (24 hours)</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="5">
           1
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>


</ion-content>