<!-- <ion-header>
  <ion-toolbar color="warning">
    <ion-title color="light">Foot Print</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-grid class="myCustomBGColor">
    <ion-row> 
        <ion-col class="ion-text-center">
            <ion-text color="light">
              <b>FOOT PRINT - HEADER</b></ion-text>
        </ion-col>
    </ion-row>
</ion-grid>

  <div class="p-2">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="pt-2" size="4">Test Request No</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-select value="123" placeholder="Select">
            <ion-select-option value="123">123</ion-select-option>
            <ion-select-option value="456">456</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2"   size="4">Requesting Department</ion-col>
        <ion-col class="pt-2" size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input class="customInput" placeholder="Enter Requesting Department"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2"   size="4">Outer Diameter</ion-col>
        <ion-col class="pt-2" size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input class="customInput" placeholder="Enter Outer Diameter"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2"   size="4">OAW</ion-col>
        <ion-col class="pt-2" size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input class="customInput" placeholder="Enter OAW"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2"   size="4">Infl.Pressure(Psi)</ion-col>
        <ion-col class="pt-2" size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input class="customInput" placeholder="Enter Infl.Pressure(Psi)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2"   size="4">Wt in Kg</ion-col>
        <ion-col class="pt-2" size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input class="customInput" placeholder="Enter Wt in Kg"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2"   size="4">Mould No</ion-col>
        <ion-col class="pt-2" size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input class="customInput" placeholder="Enter Mould No"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2"   size="4">Fabric</ion-col>
        <ion-col class="pt-2" size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input class="customInput" placeholder="Enter Fabric"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">Stencil No</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-select value="123" placeholder="Select">
            <ion-select-option value="123">123</ion-select-option>
            <ion-select-option value="456">456</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">Circumference(mm)</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter Circumference(mm)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">OD(mm)</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter OD(mm)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">NSD(mm)</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter NSD(mm)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">CSW(mm)</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter CSW(mm)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">OAW(mm)</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter OAW(mm)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">Shoulder Level(mm)</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter Shoulder Level(mm)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">Tread  Height(mm)</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter Tread  Height(mm)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">TAW(mm)</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter TAW(mm)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">TAL(mm)</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter TAL(mm)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">TAR(mm)</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter TAR(mm)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">Hardness</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter Hardness"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="pt-2" size="4">No of Foot Print Required</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-input placeholder="Enter No of Foot Print Required"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>

    <div class="row">
      <div class="col-12 ion-text-right">
        <ion-button fill="clear" color="warning" >Completed</ion-button>
        <ion-button fill="clear" color="warning" >Exit</ion-button>
      </div>
    </div>

    <div>

      <ion-grid  class="myCustomBGColor">
        <ion-row> 
            <ion-col class="ion-text-center">
                <ion-text color="light">
                  <b>FOOT PRINT - DETAIL</b></ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>

      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="pt-2" size="4">Cycle</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="7">
            1234
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="pt-2" size="4">Cycle</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="7">
            <ion-item>
              <ion-input placeholder="Enter Load in Kg"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="pt-2" size="4">Distance/Deflection (mm)</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="7">
            <ion-item>
              <ion-input placeholder="Distance/Deflection (mm)"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="pt-2" size="4">Loaded Radious(mm)</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="7">
            <ion-item>
              <ion-input placeholder="Enter Loaded Radious"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="pt-2" size="4">LCSW(mm)</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="7">
            <ion-item>
              <ion-input placeholder="Enter LCSW(mm)"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="pt-2" size="4">LCSW at 0 Psi(mm)</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="7">
            <ion-item>
              <ion-input placeholder="Enter LCSW at 0 Psi(mm)"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="pt-2" size="4">Free tyre O.D(mm)</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="7">
            <ion-item>
              <ion-input placeholder="Enter Free tyre O.D(mm)"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="pt-2" size="4">Major axis(cm) A</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="7">
            <ion-item>
              <ion-input placeholder="Enter Major axis(cm) A"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="pt-2" size="4">Major axis(cm) B</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="7">
            <ion-item>
              <ion-input placeholder="Enter Major axis(cm) B"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="pt-2" size="4">0 Kg Loaded radious</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="7">
            <ion-item>
              <ion-input placeholder="Enter 0 Kg Loaded radious"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="pt-2" size="4">Contact Area(cm)</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="7">
            <ion-item>
              <ion-input placeholder="Enter Contact Area(cm)"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="row">
        <div class="col-12 ion-text-right">
          <ion-button fill="clear" color="warning" >Clear</ion-button>
          <ion-button fill="clear" color="warning" >Save</ion-button>
          <ion-button fill="clear" color="warning" >Exit</ion-button>
        </div>
      </div>

    </div>

  </div>


</ion-content>